.pictureCard {
    height: 730px;
    background-color: #E1EDE6;
    padding: 20px 20px;
    
    .picture {
        width: 310px;
        height: 422px;
        margin-bottom: 20px;
    }

    .author {
        font-size: 18px;
        color: #86928B;
        margin-bottom: 10px;
    }

    .title {
        font-size: 30px;
        color: #2C2D35;
        margin-bottom: 8px;
    }

    .materials {
        font-size: 18px;
        color: #2C2D35;
        margin-bottom: 30px;
    }

    .price {
        font-size: 24px;
        color: #598D66;
        margin-bottom: 20px;
    }

    .buttonBasket {
        background-color: transparent;
        font-size: 20px;
        color: #598D66;
        padding: 20px 0px;
        border-color: #598D66;
        border: 1px solid;
        width: 100%;
        margin-bottom: 30px;
        transition: all 500ms ease;

        &:hover {
            background-color: #598D66;
            color: #F4F6F5;
            transform: scale(0.99);
            cursor: pointer;
        }
    }
}