@import '../../../styles/vars.scss';

.pictureCard {
    height: 730px;
    padding: 20px 20px;
    background-color: $color-background-light;
    
    .picture {
        width: 310px;
        height: 422px;
        margin-bottom: 20px;
    }

    .author {
        margin-bottom: 10px;
        font-size: $font-size-regular;
        color: $color-text-secondary;
    }

    .title {
        margin-bottom: 8px;
        font-size: $font-size-large;
        color: $color-text-primary;
    }

    .materials {
        margin-bottom: 30px;
        font-size: $font-size-regular;
        color: $color-text-primary;
    }

    .price {
        margin-bottom: 20px;
        font-size: $font-size-medium;
        color: $color-primary;
    }

    .buttonBasket {
        width: 100%;
        margin-bottom: 30px;
        padding: 20px 0px;
        background-color: transparent;
        font-size: $font-size-normal;
        color: $color-primary;
        border: 1px solid;
        border-color: $color-primary;
        transition: all 500ms ease;

        &:hover {
            color: $color-background-white;
            background-color: $color-primary;
            transform: scale(0.99);
            cursor: pointer;
        }
    }
}
