@import '../../../styles/vars.scss';

.hero {
    padding: $main-padding; 
    width: 100%;

    .container {
        align-items: center;
        display: flex;
        gap: 2rem;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 0;

        .bird {
            width: 540px;
            height: 620px;
            margin-top: 0;
        }

        .content {

            .title {
                max-width: 540px;
                margin-bottom: 20px;
                font-size: $font-size-xxl;
                line-height: 110%;

                .highlight {
                    color: $color-primary;
                }
            }

            .description {
                max-width: 540px;
                margin-bottom: 60px;
                font-size: $font-size-regular;
                line-height: 150%;
                color: $color-text-secondary;
            }

            .buttonProducts {
                padding: 20px 60px;
                font-size: $font-size-normal;
                color: $color-primary;
                background-color: transparent;
                border: 1px solid;
                border-color: $color-primary;
                transition: all 0.5s ease;

                &:hover {
                    color: $color-text-white;
                    background-color: $color-primary;
                    transform: scale(0.99);
                    cursor: pointer;
                }
            }
        }
    }
}
