@import '../../../styles/vars.scss';

.footer {
    padding: $main-padding;
    background-color: $color-background-light;

    .container {
        display: flex;
        justify-content: space-between;
        max-width: $container-max-width;
        margin: 0 auto;
        align-items: flex-start;

        .logoWithNumber {
            margin: 0;
            padding: 0;

            .logo {
                font-size: $font-size-normal;
                color: $color-primary;
                transition: 0.3s ease;
                padding: 18px 0px;
                margin-bottom: 35px;
                align-items: flex-start;
                margin-top: 24px;

                &:hover {
                    cursor: pointer;
                }
            }

            .number {
                font-size: $font-size-regular;
                color: $color-text-primary;
                text-decoration: none;
                cursor: pointer;
                transition: all 0.2s ease;
                padding: 16px 0px;
                margin-bottom: 0px;
                display: block;

                &:hover {
                    color: $color-primary;
                }
            }

            .address {
                font-size: $font-size-regular;
                color: $color-text-secondary;
                margin: 0;
                padding: 0;
            }
        }

        .columns {
            display: flex;
            gap: 60px;

            .column {
                .title {
                    padding: 18px 18px 0px 0px;
                    font-size: $font-size-normal;
                    color: $color-text-primary;
                }
                
                .navigation {
                    list-style: none;
                    padding: 0;
                    font-size: $font-size-regular;
                    color: $color-text-secondary;
                    margin: 0;
                    padding: 0;

                    .navigationItem {
                        margin-bottom: 6px;
                        cursor: pointer;
                        transition: all 0.2s ease;
                        padding: 12px 0px;

                        &:hover {
                            color: $color-primary;
                        }
                    }
                }
            }
        }

        .socialColumn {
            margin-top: 24px;
            align-self: flex-start;

            .socialNetworks {
                display: flex;
                gap: 30px;
                margin: 0;
                padding: 0;

                .socialLink {
                    padding: 18px 0px;
                    display: inline-block;

                    .imgNetworks {
                        width: 24px;
                        height: 24px;
                        color: $color-text-primary;
                        cursor: pointer;
                        transition: all 0.2s ease;
                    }
                    
                    &:hover {
                        color: $color-primary;
                    }
                }
            }

            .copyright {
                font-size: $font-size-xs;
                color: $color-text-secondary;
                line-height: 120%;

                &:first-child {
                    margin-bottom: 6px;
                }
            }
        }
    }
}
