//основные цвета
$color-primary: #598D66;
$color-primary-dark: #376B44;

//фоновые цвета
$color-background-light: #E1EDE6;
$color-background-dark: #2C2D35;
$color-background-white: #F4F6F5;
$color-background-green: #D4E8D9;
$color-background-yellow: #EEDB6D;
$color-background-yellow-light: #EEDF8B;
$color-background-yellow-dark: #E3C935;

//текстовые цвета
$color-text-primary: #2C2D35;
$color-text-secondary: #86928B;
$color-text-white: #F4F6F5;
$color-text-inverse: #FFFFFF;

//размеры шрифтов
$font-size-xxl: 60px;
$font-size-xl: 40px;
$font-size-large: 30px;
$font-size-medium: 24px;
$font-size-normal: 20px;
$font-size-regular: 18px;
$font-size-small: 16px;
$font-size-xs: 12px;

//максимальная ширина и основной отступ
$container-max-width: 1110px;
$main-padding: 1rem 2rem;
