@import '../../../styles/vars.scss';

.ourTeam {
    padding: $main-padding;
    width: 100%;
    margin-bottom: 70px;

    .container {
        display: flex;
        gap: 30px;
        max-width: $container-max-width;
        width: 100%;
        margin: 0 auto;
        align-items: center;

        .brushes {
            width: 445px;
            height: 440px;
        }

        .title {
            font-size: $font-size-xl;
            color: $color-text-primary;
            margin-bottom: 20px;
        }

        .description {
            font-size: $font-size-regular;
            color: $color-text-primary;
            line-height: 150%;
            margin-bottom: 20px;
            max-width: 635px;
        }

        .team {
            display: flex;
            gap: 30px;
            
            .member {
                width: 80px;
                height: 80px;
            }
        }
    }
}
