@import '../../../styles/vars.scss';

.ourTeam {
    width: 100%;
    margin-bottom: 70px;
    padding: $main-padding;

    .container {
        align-items: center;
        display: flex;
        gap: 30px;
        width: 100%;
        max-width: $container-max-width;
        margin: 0 auto;

        .brushes {
            width: 445px;
            height: 440px;
        }

        .title {
            margin-bottom: 20px;
            font-size: $font-size-xl;
            color: $color-text-primary;
        }

        .description {
            max-width: 635px;
            margin-bottom: 20px;
            font-size: $font-size-regular;
            line-height: 150%;
            color: $color-text-primary;
        }

        .team {
            display: flex;
            gap: 30px;
            
            .member {
                width: 80px;
                height: 80px;
            }
        }
    }
}
