.header {
    padding: 1rem 2rem; 
    background-color: #E1EDE6;
    
    .container {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        align-items: center;

        .logo {
            font-size: 20px;
            color: #598D66;
            transition: 0.3s ease;
            padding: 12px 12px;
            margin: 0px -12px;

            &:hover {
                cursor: pointer;
            }
        }

        .navigation {
            display: flex;
            gap: 3rem;

            .navList {
                display: flex;
                list-style: none;
                gap: 3rem;
                color: #2C2D35;
                align-items: center;

                li {
                    padding: 12px 12px;
                    margin: 0px -12px;
                    font-size: 20px;
                    
                    &:hover {
                        color: #598D66;
                        cursor: pointer;
                    }
                }
            }

            .buttonBasket {
                background: transparent;
                border: none;
                cursor: pointer;
                padding: 12px 12px;
                margin: 0px -12px;

                img {
                    width: 24px;
                    height: 24px;
                    border: none;
                    outline: none;
                    color: #2C2D35;

                    &:hover {
                        color: #598D66;
                    }
                }
            }
        }
    }
}