@import '../../../styles/vars.scss';

.header {
    padding: $main-padding; 
    background-color: $color-background-light;
    
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: $container-max-width;
        margin: 0 auto;

        .logo {
            padding: 16px 0px;
            font-size: $font-size-normal;
            color: $color-primary;
            transition: 0.3s ease;

            &:hover {
                cursor: pointer;
            }
        }

        .navigation {
            display: flex;
            gap: 3rem;
            margin: 0;
            padding: 0;

            .navList {
                display: flex;
                gap: 3rem;
                align-items: center;
                margin: 0;
                padding: 0;
                list-style: none;
                color: $color-text-primary;

                li {
                    padding: 16px 0px;
                    font-size: $font-size-normal;
                    
                    &:hover {
                        color: $color-primary;
                        cursor: pointer;
                    }
                }
            }

            .buttonBasket {
                padding: 16px 0px;
                background: transparent;
                border: none;
                cursor: pointer;

                img {
                    width: 24px;
                    height: 24px;
                    border: none;
                    outline: none;
                    color: $color-background-dark;

                    &:hover {
                        color: $color-primary;
                    }
                }
            }
        }
    }
}
