@import '../../../styles/vars.scss';

.news {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 574px;
    margin-bottom: 70px;

    .background {
        object-fit: cover;
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 574px;
    }

    .container {
        align-items: center;
        z-index: 2;
        position: relative;
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;

        .titleWithStar {
            align-items: center;
            position: absolute;
            z-index: 2;
            display: flex;
            gap: 20px; 
            top: 30px;
            left: 165px;

            .star {
                width: 80px;
                height: 80px;
            }

            .title {
                max-width: 420px;
                font-size: $font-size-xl;
                color: $color-text-white;
            }
        }

        .textContent {
            position: absolute;
            z-index: 100;
            top: 170px;
            left: 165px; 
            max-width: 540px;

            .description {
                font-size: $font-size-regular;
                line-height: 150%;
                color: $color-text-inverse;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .buttonLearn {
            position: absolute;
            top: 440px;
            left: 165px;
            padding: 20px 60px;
            font-size: $font-size-normal;
            color: $color-text-primary;
            background-color: $color-background-yellow;
            border: none;
            transition: all 0.5s ease;

            &:hover {
                background-color: $color-background-yellow-light;
                cursor: pointer;
            }

            &:focus {
                background-color: $color-background-yellow-dark;
                cursor: pointer;
            }
        }
    }
}
