@import '../../../styles/vars.scss';

.reproductions {
    padding: $main-padding;
    width: 100%;
    margin-bottom: 70px;

    .container {
        margin: 0 auto;
        max-width: $container-max-width;
        width: 100%;
        align-items: center;
        margin-top: 0;

        .textContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;

            .title {
                font-size: $font-size-xl;
                color: $color-text-primary;
            }

            .categories {
                display: flex;
                gap: 32px;
                
                .buttonCategories {
                    font-size: $font-size-normal;
                    padding: 10px 20px;
                    background-color: $color-background-green;
                    color: $color-background-dark;
                    border: none;
                    border-radius: 20px;
                    border: 2px solid $color-background-green;
                    transition: all 0.5s ease;

                    &:hover {
                        background-color: $color-primary;
                        color: $color-text-white;
                        cursor: pointer;
                    }

                    &:active {
                        background-color: $color-primary-dark;
                        color: $color-background-dark;
                        cursor: pointer;
                    }

                    &:focus:not(:active) {
                        background-color: $color-background-green;
                        color: $color-background-dark;
                        border: 2px solid $color-primary-dark;
                    }
                }
            }
        }

        .pictureGrid {
            display: grid;
            justify-content: space-between;
            grid-template-columns: repeat(3, 350px);
            grid-template-rows: repeat(2, auto);
            gap: 30px;
        }
    }
}